#main{
  width: 80%;
  margin: auto;
}
.addproject {
  width: 87%;
  height: 9vh;
  display: flex;
  justify-content: space-evenly;
  position: absolute;
  top: 12%;
  box-shadow: rgb(9 30 66 / 25%) 0px 1px 1px, rgb(9 30 66 / 13%) 0px 0px 1px 1px;
  padding-top: 6px;
}
.form {
  width: 55%;
  height: 5vh;
  margin: auto;
  margin-left: 1%;
}
.addproject input {
  height: 100%;
  width: 100%;
  border: none;
  font-size: 16px;
  position: relative;
  top: -7%;
  background: transparent;
  outline: none;
}
.addproject input:hover {
  border: 1px solid rgb(208, 192, 192);
  transition: all 0.6s;
}
.ram {
  display: flex;
  width: 45%;
  justify-content: space-evenly;
}
.project {
  display: flex;
  width: 16%;
  justify-content: space-between;
  padding-top: 17px;
  border: none;
  cursor: pointer;
  gap: 16px;
}
.project img {
  width: 25px;
  height: 25px;
  margin: auto;
  position: relative;
  top: -19%;
}
.project p {
  color: #03a9f4;
  font-size: 20px;
  font-weight: 500;
  position: relative;
  top: -24px;
  left: -8px;
}
.tag img {
  width: 25px;
  height: 25px;
  border: none;
  position: relative;
  top: 30%;
  left: 100%;
}
.dollar p {
  color: #03a9f4;
  font-size: 25px;
  font-weight: 500;
  position: relative;
  top: -15px;
  left: 2px;
}
.dollar {
  margin-left: 50px;
}
.timer p {
  font-size: 23px;
  border: none;
  position: relative;
  top: -17%;
  left: 14%;
}
.toggle {
  transition: all 0.3s ease;
  z-index: 1;
}
.toggle.active {
  transform: scale(0.9);
}

.start {
  position: relative;
  left: 4%;
}
#timer_start:hover {
  background: #065f8f;
  color: white;
}

#timer_start {
  width: 200%;
  height: 44px;
  background: #03a9f4;
  border: none;
  position: relative;
  top: 9%;
}
.twologo {
  display: flex;
  flex-direction: column;
  position: relative;
  gap: -13px;
  top: -7px;
  left: 32px;
}
.twologo img {
  position: relative;
  margin-bottom: -31px;
  width: 16px;
  top: 10px;
  left: 2px;
}



.thisweek {
  width: 87%;
  height: 9vh;
  display: flex;
  justify-content: space-evenly;
  position: absolute;
  top: 30%;
  left: 12%;
  box-shadow: rgb(9 30 66 / 25%) 0px 1px 1px, rgb(9 30 66 / 13%) 0px 0px 1px 1px;
  padding-top: 6px;
  background: #e4eaee;
}

/* -----------------details--------------------- */
.details {
  width: 79%;
  height: 100px;
  display: flex;
  justify-content: space-evenly;
  position: absolute;
  top: 41.5%;
  left: 20%;
  padding-top: 20px;
  box-shadow: rgba(9, 30, 66, 0.25) 0px 5px 1px,
    rgba(9, 30, 66, 0.25) 0px 10px 1px 1px;
}
.details .name {
  padding-top: 13px;
}
.details .name #desc {
  height: 28px;
  width: 200px;
  padding-left: 20px;
  font-size: medium;
  color: #03a9f4;
  border: none;
}

.details .project {
  display: flex;
  width: 100px;
  justify-content: space-between;
  padding-top: 17px;
  border: none;
}
.details .p {
  color: #03a9f4;
  font-size: 20px;
  font-weight: bold;
}
.details .dollar p {
  width: 80px;
  height: 80px;
  font-size: 40px;
  font-weight: 500;
  border: 1px solid black;
  padding-top: 11px;
  border: none;
  color: rgb(153, 153, 153);
  cursor: pointer;
}

.details .tag {
  width: 38px;
  padding-top: 8px;
  border: none;
}
.details .calender {
  width: 38px;
  padding-top: 8px;
  border: none;
}
.details .time {
  padding-top: 16px;
}
.details .time #counttime {
  height: 40px;
  width: 80px;
  font-size: 26px;
  border: none;
}
.details .play {
  width: 30px;
  padding-top: 8px;
  border: none;
}
.details .menubtn {
  width: 13px;
  height: 50px;
  padding-top: 8px;
  border: none;
}
