*{
    margin:0;
    padding:0;
    font-family: sans-serif;
}
textarea{
    width:500px;
    height:100px;
    padding:2px 5px;
    font-size: 20px;
    border-radius: 2px;
}
#input1{
    width:500px;
    height:45px;
    padding:2px 5px;
    font-size: 20px;
    border-radius: 2px;
}
#cen>p{
    font-size: 20px;
    margin:20px 0px;
} 
.container{
    visibility: hidden;
    width:40%;
    /* height:900px; */
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    /* background-color: rgb(253, 248, 248); */
    border:1px solid gray;
    box-shadow: 4px 4px 10px 0.3;
    padding:20px 0px;
    border-radius:3px
    
}
#cen{
    width:85%;
    margin:auto;
}

#head{
    width:85%;
    display:flex;
    justify-content: space-between;
    /* border:1px solid red; */
    margin:auto;
    margin-bottom:30px;
}
i{
    font-size: 30px;
}